@model PictureZoomModel

@{
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/NopStation.PictureZoom/Content/js/jquery.imagesloaded.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/NopStation.PictureZoom/Content/js/jquery.fullscreen-popup.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/NopStation.PictureZoom/Content/js/cloud-zoom.1.0.2.js");
    Html.AppendCssFileParts("~/Plugins/NopStation.PictureZoom/Content/css/cloud-zoom.css");
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("en-US");
}

<div class="picture" data-popup="#dialogForImgPopUp" style="float:left">
    <link rel="image_src" href="@Model.DefaultPictureModel.FullSizeImageUrl" />
    @await Component.InvokeAsync("Widget", new { widgetZone = "truimph_product_ribbon", additionalData = Model.Id })
    <a href="@Model.DefaultPictureModel.FullSizeImageUrl" class="cloud-zoom" data-cloudzoom="position: 'right',adjustX: 0,adjustY: 10" id="main-product-img-lightbox-anchor-@Model.Id">
        <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" style="border-width: 0px;" class="cloud-zoom-image cloud-zoom-image-size" width="400" id="main-product-img-lightbox-anchor-@Model.Id" />
    </a>

    @if (Model.PictureModels.Count > 1)
    {
        <div style="margin-top: 10px;text-align: left;">
            @foreach (var picture in Model.PictureModels)
            {
                <div style="display: inline-block; border: 1px solid #BBBB8E;">
                    <a href="@picture.FullSizeImageUrl" rel="lightbox-p" class="src-zoom-anchor" onclick="return false;" data-halfimgurl="@picture.FullSizeImageUrl">
                        <img src="@picture.ImageUrl" alt="@picture.AlternateText" class="src-zoom-image" style="height:100px; width:100px" />
                    </a>
                </div>
            }
        </div>
    }
    <div class="imgForMobile" id="dialogForImgPopUp" style="display:none;">
        <img alt="" src="" />
    </div>
</div>

<script type="text/javascript" asp-location="Footer">
    var position = '@Model.Configure.Position';
    var cloudZomm = function (position) {
        $("a.cloud-zoom").imagesLoaded({
            done: function ($images) {
                var width = $(".cloud-zoom-image-size").width() * @Model.Configure.ZoomWidth;
                var height = $(".cloud-zoom-image-size").height() * @Model.Configure.ZoomHeight;
                $('.cloud-zoom').CloudZoom({
                    zoomWidth: width,
                    zoomHeight: height,
                    position: position,
                    tint: @Model.Configure.Tint.ToString().ToLower(),
                    tintOpacity: @Model.Configure.TintOpacity,
                    lensOpacity: @Model.Configure.LensOpacity,
                    softFocus: @Model.Configure.SoftFocus.ToString().ToLower(),
                    smoothMove: @Model.Configure.SmoothMove,
                    showTitle: @Model.Configure.ShowTitle.ToString().ToLower(),
                    titleOpacity: @Model.Configure.TitleOpacity.ToString().ToLower(),
                    adjustX: @Model.Configure.AdjustX,
                    adjustY: @Model.Configure.AdjustY
                });
            }
        });
    }

    var zoomEffect = function () {
        cloudZomm(position);

        //when click on sub item
        $('.src-zoom-anchor').on({
            'click': function () {
                //$('.cloud-zoom').each(function () {
                //    $(this).data('cloudzoom').destroy();
                //});
                var aSrc = $(this).attr('href');
                var imgSrc = $(this).attr('data-halfimgurl');
                $('.cloud-zoom-image').attr('src', imgSrc);
                $('.cloud-zoom').attr('href', aSrc);

                cloudZomm(position);
            }
        });
    };

    var fullScreenPopUp = function () {
        cloudZomm('inside');

        //when click on sub item
        $('.src-zoom-anchor').on({
            'click': function () {
                //$('.cloud-zoom').each(function () {
                //    $(this).data('cloudzoom').destroy();
                //});

                var aSrc = $(this).attr('href');
                var imgSrc = $(this).attr('data-halfimgurl');
                $('.cloud-zoom-image').attr('src', imgSrc);
                $('.cloud-zoom').attr('href', aSrc);

                cloudZomm('inside');
            }
        });
    };

    $(document).ready(function () {
        if ($(window).width() <= 768) {
            fullScreenPopUp();
        }
        else {
            zoomEffect();
        }
    });

    $(window).resize(function () {
        if ($(window).width() <= 768) {
            fullScreenPopUp();
        }
        else {
            zoomEffect();
        }
    });
</script>