@model OCarouselSearchModel
@inject AdminAreaSettings adminAreaSettings

@{
    //page title
    ViewBag.Title = T("NopStation.OCarousels.CarouselList").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("OCarousels");
}

@{
    const string hideSearchBlockAttributeName = "OCarouselsPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("NopStation.OCarousels.CarouselList")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                        <div class="search-text">@T("Admin.Common.Search")</div>
                        <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                    </div>

                    <div class="search-body @(hideSearchBlock ? "closed" : "")">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchActiveId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchActiveId" asp-items="Model.AvailableActiveOptions" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchDataSources" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchDataSources" asp-items="Model.AvailableDataSources" asp-multiple="true" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchWidgetZones" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchWidgetZones" asp-items="Model.AvailableWidgetZones" asp-multiple="true" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchStoreId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchStoreId" asp-items="Model.AvailableStores" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-4">
                                <div class="form-group">
                                    <button type="button" id="search-carousel" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "carousel-grid",
                        UrlRead = new DataUrl("List", "OCarousel", null),
                        Length = adminAreaSettings.DefaultGridPageSize,
                        LengthMenu = adminAreaSettings.GridPageSizes,
                        SearchButtonId = "search-carousel",
                        Filters = new List<FilterParameter>
                        {
                            new FilterParameter(nameof(Model.SearchStoreId)),
                            new FilterParameter(nameof(Model.SearchDataSources)),
                            new FilterParameter(nameof(Model.SearchWidgetZones)),
                            new FilterParameter(nameof(Model.SearchActiveId))
                        },
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(OCarouselModel.Name))
                            {
                                Title = T("NopStation.OCarousels.OCarousels.Fields.Name").Text,
                                Width = "80"
                            },
                            new ColumnProperty(nameof(OCarouselModel.Title))
                            {
                                Title = T("NopStation.OCarousels.OCarousels.Fields.Title").Text,
                                Width = "80"
                            },
                            new ColumnProperty(nameof(OCarouselModel.DataSourceTypeStr))
                            {
                                Title = T("NopStation.OCarousels.OCarousels.Fields.DataSourceType").Text,
                                Width = "80"
                            },
                            new ColumnProperty(nameof(OCarouselModel.WidgetZoneStr))
                            {
                                Title = T("NopStation.OCarousels.OCarousels.Fields.WidgetZone").Text,
                                Width = "80"
                            },
                            new ColumnProperty(nameof(OCarouselModel.DisplayOrder))
                            {
                                Title = T("NopStation.OCarousels.OCarousels.Fields.DisplayOrder").Text,
                                Width = "80",
                                ClassName = NopColumnClassDefaults.CenterAll
                            },
                            new ColumnProperty(nameof(OCarouselModel.Active))
                            {
                                Title = T("NopStation.OCarousels.OCarousels.Fields.Active").Text,
                                Width = "80",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            },
                            new ColumnProperty(nameof(OCarouselModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("~/Admin/OCarousel/Edit/"))
                            }
                        }
                    })
                </div>
            </div>
        </div>
    </div>
</div>
