@model BlogPictureModel

<div class="panel-group">
    @if (Model.Id > 0)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <script>
                    $(document).ready(function() {
                        $('#saveBlogPostPicture').click(function() {
                            var pictureId = $("#@Html.IdFor(model => model.PictureId)").val();
                            var overrideAltAttribute = $("#@Html.IdFor(model => model.OverrideAltAttribute)").val();
                            var overrideTitleAttribute = $("#@Html.IdFor(model => model.OverrideTitleAttribute)").val();
                            var showOnHomePage = $("#@Html.IdFor(model => model.ShowInStore)").is(':checked');

                            if (pictureId == 0) {
                                alert('Upload picture first');
                                return;
                            }

                            $('#saveBlogPostPicture').attr('disabled', true);

                            var postData = {
                                pictureId: pictureId,
                                overrideAltAttribute: overrideAltAttribute,
                                overrideTitleAttribute: overrideTitleAttribute,
                                blogPostId: '@Model.Id',
                                showOnHomePage: showOnHomePage
                            };
                            addAntiForgeryToken(postData);

                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@(Url.Action("BlogPostPictureSave", "BlogNews"))",
                                data: postData,
                                success: function (data) {
                                    $('#saveBlogPostPicture').attr('disabled', false);
                                    $('#save-message').show('slow');
                                    if (!data.Result) {
                                        $('#save-message span').html('@T("NopStation.BlogNews.BlogPost.Picture.SaveFailed")');
                                    }
                                    else {
                                        $('#save-message span').html('@T("NopStation.BlogNews.BlogPost.Picture.SaveSuccess")');
                                    }
                                    setTimeout(function () {
                                        $("#save-message").hide('slow');
                                        $('#save-message span').html('');
                                    }, 5000);
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert('Failed to save blog post picture.');
                                    $('#saveBlogPostPicture').attr('disabled', false);
                                }
                            });
                        });
                    });
                </script>
                <div class="form-group" id="save-message" style="display:none">
                    <div class="col-md-9 col-md-offset-3">
                        <span></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="PictureId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PictureId" />
                        <span asp-validation-for="PictureId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="OverrideAltAttribute" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="OverrideAltAttribute" />
                        <span asp-validation-for="OverrideAltAttribute"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="OverrideTitleAttribute" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="OverrideTitleAttribute" />
                        <span asp-validation-for="OverrideTitleAttribute"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ShowInStore" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ShowInStore" />
                        <span asp-validation-for="ShowInStore"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="button" id="saveBlogPostPicture" class="btn btn-primary">@T("NopStation.BlogNews.Button.SaveBlogPostPicture")</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @T("NopStation.BlogNews.BlogPost.SaveBeforeEdit")
            </div>
        </div>
    }
</div>